.auth-buttn-container{
  float: right;
  position: relative;
  padding-bottom: 3px;
}

 .top-bar > div {
  display: flex;
  align-items: flex-end;
}  

.logo {
  position: relative;
}

.logo > img {
  max-width: 100px;
  height: auto;
}

.auth-bttn {
  margin-left: 1em;
  padding-bottom: 1px;
}

