version: "3"
services:
  db:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=fleemaster
      - POSTGRES_USER=basedgod
      - POSTGRES_PASSWORD=thereisagod
      - PGPORT=5432
